<form>
<div ng-controller="addUserCntrl">  
<div class="form-group row" >
  <label for="example-text-input" class="col-xs-2 col-form-label">FirstName</label>
  <div class="col-xs-10">
    <input class="form-control" type="text" id="example-text-input" ng-model="detail.firstName">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-xs-2 col-form-label">LastName</label>
  <div class="col-xs-10">
    <input class="form-control" type="search" id="example-search-input" ng-model="detail.lastName">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
  <div class="col-xs-10">
    <input class="form-control" type="email" id="example-email-input" ng-model="detail.email">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-xs-2 col-form-label">City</label>
  <div class="col-xs-10">
    <input class="form-control" type="url" id="example-url-input" ng-model="detail.city">
  </div>
</div>
<div class="form-group row">
  <label for="example-datetime-local-input" class="col-xs-2 col-form-label"> Company</label>
  <div class="col-xs-10">
    <input class="form-control" id="example-datetime-local-input" ng-model="detail.company">
  </div>
</div>
<div>
  <input type="hidden" ng-model="detail.id"/>
   <button type="button" class="btn btn-primary" ng-click="myButton()">CREATE</button>
</div>
</div>
</form>